/* Add "Color" label to the dropdown trigger */
button[data-dropdown-key="textColorDropdown"]::before {
    content: "Color";
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: rgb(101, 101, 101);
}