@import "tailwindcss";

@theme {
  --color-primary-300: #000000;
  --color-primary-500: #000000;
  --color-primary-600: #000000;
  --color-primary-700: #000000;
  --color-primary-900: #000000;

  --color-secondary-100: #000000;
  --color-secondary-300: #000000;
  --color-secondary-500: #000000;
  --color-secondary-900: #000000;

  --color-body-text: #000000;

  --color-button-primary-bg: #000000;
  --color-button-primary-text: #000000;
  --color-button-secondary-bg: #000000;
  --color-button-secondary-text: #000000;

  --color-link: #000000;

  --radius-button: 0px;
  --radius-card: 0px;
  --radius-top-large: 0px;

  --font-weight-body: 200;
}

@layer base {
  
  [data-tenant="scramcamconnect"] {
    --color-primary-300: #4ba8d0;
    --color-primary-500: #277fa6;
    --color-primary-600: #206684;
    --color-primary-700: #003b64;
    --color-primary-900: #00121d;

    --color-secondary-100: #ffffff;
    --color-secondary-300: #99A1Af;
    --color-secondary-500: #6b6b6b;
    --color-secondary-900: #2d2d2d;

    --color-body-text: var(--color-secondary-900);

    --color-button-primary-bg: var(--color-secondary-100);
    --color-button-primary-text: var(--color-primary-900);
    --color-button-secondary-bg: var(--color-primary-300);
    --color-button-secondary-text: var(--color-secondary-100);

    --color-link: var(--color-primary-500);

    --radius-button: 9999px;
    --radius-card: .75rem;
    --radius-top-large: 4rem 4rem 0 0;

    --font-weight-body: 200;
  }

  [data-tenant="testtenant"] {
    --color-primary-300: #e0e7ff;
    --color-primary-500: #97afff;
    --color-primary-600: #7092ff;
    --color-primary-700: #4772ff;
    --color-primary-900: #0a43ff;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-body-text);
  }
  
  h1 {
    font-size: 3.815rem; 
    font-weight: 700;
  }
  
  @media (max-width: 640px) {
    h1 {
      font-size: 3rem; 
    }
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  @media (max-width: 640px) {
    h2 {
      font-size: 2rem; 
    }
  }
  
  h3 {
    font-size: 1.953rem;
    font-weight: 700;
  }
  
  @media (max-width: 640px) {
    h3 {
      font-size: 1.5rem;
    }
  }
  
  h4 {
    font-size: 1.563rem;
    font-weight: 500;
  }
  
  @media (max-width: 640px) {
    h4 {
      font-size: 1.25rem;
    }
  }

  p {
    padding: .75em 0;
  }

  p, label, li {
    font-weight: var(--font-weight-body);
  }
  
  ul li {
    list-style-type: disc;
    margin-left:2.5em;
  }
  
  ol li {
    list-style-type: decimal;
    margin-left:2.5em;
  }
  
  .payload-richtext a span,
  .payload-richtext a {
    text-decoration: underline;
  }
  
  .list-none {
    list-style-type: none !important;
  }
  
  .osano-cm-widget {
    display:none;
  }

}




