@import "tailwindcss";

@theme {
  --color-primary-100: #000000;
  --color-primary-300: #000000;
  --color-primary-500: #000000;
  --color-primary-600: #000000;
  --color-primary-900: #000000;

  --color-secondary-light: #000000;
  --color-secondary-dark: #000000;

  --color-error-light: #000000;
  --color-error-dark: #000000;
}

@layer base {
  
  [data-tenant="scramcamconnect"] {
    --color-primary-100: #d5f2c0;
    --color-primary-300: #a5de7c;
    --color-primary-500: #81d147;
    --color-primary-600: #5ebc24;
    --color-primary-900: #207218;

    --color-secondary-light: #41577c;
    --color-secondary-dark: #0e2448;

    --color-error-light: #f7d9d4;
    --color-error-dark: #d23c28;
  }

  [data-tenant="scramsystems"] {
    --color-primary-100: #e0e7ff;
    --color-primary-300: #adc0ff;
    --color-primary-500: #7092ff;
    --color-primary-600: #4772ff;
    --color-primary-900: #0a43ff;

    --color-secondary-light: #d89a9e;
    --color-secondary-dark: #361416;

    --color-error-light: hsl(8 69% 90%);
    --color-error-dark: hsl(7 68% 49%);
  }

  body {
    color: var(--color-secondary-dark);
  }
  
  h1 {
    font-size: 3.815rem; 
    font-weight: 700;
  }
  
  @media (max-width: 640px) {
    h1 {
      font-size: 3rem; 
    }
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  @media (max-width: 640px) {
    h2 {
      font-size: 2rem; 
    }
  }
  
  h3 {
    font-size: 1.953rem;
    font-weight: 700;
  }
  
  @media (max-width: 640px) {
    h3 {
      font-size: 1.5rem;
    }
  }
  
  h4 {
    font-size: 1.563rem;
    font-weight: 500;
  }
  
  @media (max-width: 640px) {
    h4 {
      font-size: 1.25rem;
    }
  }
  
  ul li {
    list-style-type: disc;
    margin-left:2.5em;
  }
  
  ol li {
    list-style-type: decimal;
    margin-left:2.5em;
  }
  
  .payload-richtext a span,
  .payload-richtext a {
    text-decoration: underline;
  }
  
  .list-none {
    list-style-type: none !important;
  }
  
  .osano-cm-widget {
    display:none;
  }

}




